docs/02-IOT/04-Actividad-Integradora_IOT/actividad_1/data/.flows.json.backup
[
    {
        "id": "c61419f487977022",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f9b3c08fa18077d6",
        "type": "mqtt-broker",
        "name": "labredes",
        "broker": "192.168.5.168",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "778df9bf3fc438f9",
        "type": "ui_tab",
        "name": "Aula",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "daaefd68a2c41e5a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1a70ad4b66b2a388",
        "type": "ui_group",
        "name": "Labredes",
        "tab": "778df9bf3fc438f9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eda30e06d079f97d",
        "type": "mqtt-broker",
        "name": "dpto",
        "broker": "192.168.0.68",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "677d6e73b245a05e",
        "type": "inject",
        "z": "c61419f487977022",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "077824b9d2376b25"
            ]
        ]
    },
    {
        "id": "077824b9d2376b25",
        "type": "mqtt out",
        "z": "c61419f487977022",
        "name": "",
        "topic": "labredes/aula/pc1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eda30e06d079f97d",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "d732febcfd7308b2",
        "type": "debug",
        "z": "c61419f487977022",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "37e1e379a2ce163a",
        "type": "mqtt in",
        "z": "c61419f487977022",
        "name": "",
        "topic": "labredes/aula/pc1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "eda30e06d079f97d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "d732febcfd7308b2"
            ]
        ]
    },
    {
        "id": "23c2d24a15dfd3a3",
        "type": "mqtt in",
        "z": "c61419f487977022",
        "name": "",
        "topic": "Server/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f9b3c08fa18077d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8f4745508e74c3fa",
        "type": "debug",
        "z": "c61419f487977022",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "209052be8e572cc0",
        "type": "debug",
        "z": "c61419f487977022",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 620,
        "wires": []
    },
    {
        "id": "50e9a2de59b43064",
        "type": "debug",
        "z": "c61419f487977022",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 700,
        "wires": []
    },
    {
        "id": "c6a32814e02ee29f",
        "type": "change",
        "z": "c61419f487977022",
        "name": "Identifier",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "8f4745508e74c3fa",
                "3884b3fdeded94b1"
            ]
        ]
    },
    {
        "id": "d36a243741dbfb92",
        "type": "change",
        "z": "c61419f487977022",
        "name": "cpu_temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.cpu_temp",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 640,
        "wires": [
            [
                "209052be8e572cc0",
                "609a8cc5f51d8a14"
            ]
        ]
    },
    {
        "id": "d0f7c8dc5e37cfe5",
        "type": "change",
        "z": "c61419f487977022",
        "name": "cpu_usage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.cpu_usage",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 720,
        "wires": [
            [
                "50e9a2de59b43064",
                "23d0a8c6e6c9e97d"
            ]
        ]
    },
    {
        "id": "cc282d5374fd3b69",
        "type": "inject",
        "z": "c61419f487977022",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"PC1\",\"cpu_usage\":20,\"cpu_temp\":20.85}",
        "payloadType": "json",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "c6a32814e02ee29f",
                "d36a243741dbfb92",
                "d0f7c8dc5e37cfe5"
            ]
        ]
    },
    {
        "id": "23d0a8c6e6c9e97d",
        "type": "ui_gauge",
        "z": "c61419f487977022",
        "name": "",
        "group": "1a70ad4b66b2a388",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Usage",
        "label": "Percentaje (%)",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "609a8cc5f51d8a14",
        "type": "ui_gauge",
        "z": "c61419f487977022",
        "name": "",
        "group": "1a70ad4b66b2a388",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "Temperature (°C)",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "3884b3fdeded94b1",
        "type": "ui_text",
        "z": "c61419f487977022",
        "group": "1a70ad4b66b2a388",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Identifier: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 520,
        "wires": []
    }
]